:root {
    --background-color: #F3F2FF;
    --bakcground-color-secondary: #F2F7F9;
    --bakcground-color-gray: #e9eff1;
    --background-blurred-transparent: rgba(245, 245, 253, 0.60);
    --background-blurred: rgb(245, 245, 253);
    
    --font-color-primary: #173D45;
    --font-color-secondary: #2A5059;
    --font-color-secondary-light: #4B7078;
    --font-color-light: #F2F7F9;
    
    --background-badges: #F2F7F9;
    --border-badges: #D5DBDD;

    --accent-color: #E26BA4;

    --disabled-color: #B2C1C5;
}