* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.5s;
}

*:focus {
    outline: none;
}

body, button {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-blurred);
    animation: fadeInAnimation ease-in-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 0px 56px;

     // Small devices (landscape phones, less than 768px)
     @media (max-width: 767.98px) {
        padding: 0px 40px;
     }
}

::selection {
    background-color: var(--accent-color);
    color: var(--font-color-light);
  }

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--bakcground-color-secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 25px;
}

@import './variables';
@import './_header';
@import './home';
@import './about';
@import './projects';
@import './footer';