* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.5s;
}

body, button {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  animation: fadeInAnimation ease-in-out 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  padding: 0px 56px;
}
@media (max-width: 767.98px) {
  .wrapper {
    padding: 0px 40px;
  }
}

::selection {
  background-color: var(--accent-color);
  color: var(--font-color-light);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bakcground-color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 25px;
}

:root {
  --background-color: #F3F2FF;
  --bakcground-color-secondary: #F2F7F9;
  --font-color-primary: #173D45;
  --font-color-secondary: #2A5059;
  --font-color-secondary-light: #4B7078;
  --font-color-light: #F2F7F9;
  --background-badges: #f8fbfc;
  --border-badges: #D5DBDD;
  --accent-color: #E26BA4;
  --disabled-color: #B2C1C5;
}

.header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bakcground-color);
  height: 128px;
  display: flex;
  justify-content: right;
  z-index: 1;
}
.header-menu .wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 48px;
  position: relative;
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .header-menu-navigation {
    display: none;
    position: absolute;
    right: 60px;
    top: 100px;
    background-color: var(--bakcground-color-secondary);
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.075);
  }
}
@media (max-width: 767.98px) {
  .header-menu .wrapper .header-menu-navigation {
    right: 0;
    width: 100%;
  }
}
.header-menu .wrapper .header-menu-navigation ul {
  list-style: none;
  display: flex;
  gap: 42px;
  padding: 0;
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .header-menu-navigation ul {
    flex-direction: column;
    padding: 12px;
    gap: 24px;
  }
}
@media (max-width: 767.98px) {
  .header-menu .wrapper .header-menu-navigation ul {
    padding: 32px;
  }
}
.header-menu .wrapper .header-menu-navigation ul li a {
  text-decoration: none;
  color: var(--font-color-primary);
  font-size: 18px;
  font-weight: 400;
}
.header-menu .wrapper .header-menu-navigation ul li a:hover, .header-menu .wrapper .header-menu-navigation ul li a.active {
  position: relative;
  color: var(--accent-color);
}
.header-menu .wrapper .header-menu-navigation ul li a:hover::after, .header-menu .wrapper .header-menu-navigation ul li a.active::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 50%;
  width: 50%;
  height: 2px;
  background: var(--accent-color);
  transform: translateX(-50%);
  animation: line 1s linear forwards;
}
@keyframes line {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 50%;
    width: 50%;
  }
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .header-menu-navigation ul li a {
    padding: 0 24px 0 0;
  }
}
@media (max-width: 767.98px) {
  .header-menu .wrapper .header-menu-navigation ul li a {
    display: block;
    padding-bottom: 12px;
  }
  .header-menu .wrapper .header-menu-navigation ul li a:hover::after, .header-menu .wrapper .header-menu-navigation ul li a.active::after {
    bottom: 0%;
    left: 3%;
    width: 5%;
  }
  @keyframes line {
    from {
      left: 0%;
      width: 0%;
    }
    to {
      left: 3%;
      width: 5%;
    }
  }
}
.header-menu .wrapper .switches {
  display: flex;
  gap: 24px;
}
.header-menu .wrapper .switches .switch-language-content {
  position: relative;
}
.header-menu .wrapper .switches .switch-language-content .switch-language {
  width: 78px;
  height: 36px;
  border-radius: 25px;
  background-color: var(--background-badges);
  color: var(--font-color-primary);
  border: none;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding: 24px;
  border: 1px solid var(--border-badges);
  will-change: transform;
  transition: color 0.1s ease;
}
.header-menu .wrapper .switches .switch-language-content .switch-language:hover {
  color: var(--accent-color);
}
.header-menu .wrapper .switches .switch-language-content .switch-language:hover svg .languageIcon {
  stroke: var(--accent-color);
}
.header-menu .wrapper .switches .switch-language-content .languages {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: var(--bakcground-color);
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.075);
  padding: 8px;
  top: 60px;
}
.header-menu .wrapper .switches .switch-language-content .languages button {
  min-height: 32px;
  background-color: var(--bakcground-color-secondary);
  color: var(--font-color-primary);
  border: none;
  border-radius: 8%;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  cursor: pointer;
}
.header-menu .wrapper .switches .switch-language-content .languages button:hover {
  color: var(--accent-color);
}
.header-menu .wrapper .mobile-menu-switch {
  border: none;
  background-color: transparent;
  display: none;
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .mobile-menu-switch {
    display: block;
  }
}

.scrolled {
  background-color: var(--background-badges);
}

.home {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 95vh;
}
.home .container {
  display: flex;
  flex-direction: row;
}
.home .container .introduction {
  margin-top: 8%;
  width: 100%;
}
.home .container .homeIllustration {
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
}
.home .container .homeIllustration .backgroundHomeIllustration {
  position: relative;
  top: 0;
  left: 0;
}
.home .container .homeIllustration .frontHomeIllustration {
  position: absolute;
  top: 30px;
  left: 20%;
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
.home .container .title {
  font-size: 48px;
  color: var(--font-color-primary);
  font-weight: 600;
  margin-bottom: 12px;
}
@media (max-width: 1199.98px) {
  .home .container .title {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .home .container .title {
    font-size: 36px;
  }
}
.home .container .description {
  font-size: 24px;
  color: var(--font-color-secondary-light);
  font-weight: 400;
  width: 25vw;
}
@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.home .container .description:after {
  content: "|";
  margin-left: 8px;
  opacity: 1;
  animation: blink 1s infinite;
  color: var(--accent-color);
}
@media (max-width: 1199.98px) {
  .home .container .description {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .home .container .description {
    width: 85vw;
  }
}
.home .container .contactButton {
  width: 12em;
  height: 70px;
  border-radius: 50px;
  background: var(--accent-color);
  color: var(--font-color-light);
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-top: 64px;
}
.home .container .contactButton:hover {
  background-color: var(--font-color-light);
  color: var(--accent-color);
}
@media (max-width: 767.98px) {
  .home .container {
    flex-direction: column;
  }
  .home .container .homeIllustration {
    width: 100%;
    margin-bottom: 64px;
  }
  .home .container .backgroundHomeIllustration {
    margin-top: 64px;
    width: 100%;
  }
  .home .container .frontHomeIllustration {
    margin-top: 64px;
  }
}
@media (max-width: 767.98px) {
  .home {
    margin-top: 128px;
  }
}

/*@import './about';
@import './projects';
@import './footer';*/
