* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.5s;
}

*:focus {
  outline: none;
}

body, button {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-blurred);
  animation: fadeInAnimation ease-in-out 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  padding: 0px 56px;
}
@media (max-width: 767.98px) {
  .wrapper {
    padding: 0px 40px;
  }
}

::selection {
  background-color: var(--accent-color);
  color: var(--font-color-light);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bakcground-color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 25px;
}

:root {
  --background-color: #F3F2FF;
  --bakcground-color-secondary: #F2F7F9;
  --bakcground-color-gray: #e9eff1;
  --background-blurred-transparent: rgba(245, 245, 253, 0.60);
  --background-blurred: rgb(245, 245, 253);
  --font-color-primary: #173D45;
  --font-color-secondary: #2A5059;
  --font-color-secondary-light: #4B7078;
  --font-color-light: #F2F7F9;
  --background-badges: #F2F7F9;
  --border-badges: #D5DBDD;
  --accent-color: #E26BA4;
  --disabled-color: #B2C1C5;
}

.header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: right;
  z-index: 1;
}
.header-menu .wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 48px;
  position: relative;
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .header-menu-navigation {
    display: none;
    position: absolute;
    right: 60px;
    top: 100px;
    background-color: var(--bakcground-color-secondary);
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.075);
  }
}
@media (max-width: 767.98px) {
  .header-menu .wrapper .header-menu-navigation {
    right: 0;
    width: 100%;
  }
}
.header-menu .wrapper .header-menu-navigation ul {
  list-style: none;
  display: flex;
  gap: 42px;
  padding: 0;
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .header-menu-navigation ul {
    flex-direction: column;
    padding: 12px;
    gap: 24px;
  }
}
@media (max-width: 767.98px) {
  .header-menu .wrapper .header-menu-navigation ul {
    padding: 32px;
  }
}
.header-menu .wrapper .header-menu-navigation ul li a {
  text-decoration: none;
  color: var(--font-color-primary);
  font-size: 18px;
  font-weight: 400;
}
.header-menu .wrapper .header-menu-navigation ul li a:hover, .header-menu .wrapper .header-menu-navigation ul li a.active {
  position: relative;
  color: var(--accent-color);
}
.header-menu .wrapper .header-menu-navigation ul li a:hover::after, .header-menu .wrapper .header-menu-navigation ul li a.active::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 50%;
  width: 50%;
  height: 2px;
  background: var(--accent-color);
  transform: translateX(-50%);
  animation: line 1s linear forwards;
}
@keyframes line {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 50%;
    width: 50%;
  }
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .header-menu-navigation ul li a {
    padding: 0 24px 0 0;
  }
}
@media (max-width: 767.98px) {
  .header-menu .wrapper .header-menu-navigation ul li a {
    display: block;
    padding-bottom: 12px;
  }
  .header-menu .wrapper .header-menu-navigation ul li a:hover::after, .header-menu .wrapper .header-menu-navigation ul li a.active::after {
    bottom: 0%;
    left: 3%;
    width: 5%;
  }
  @keyframes line {
    from {
      left: 0%;
      width: 0%;
    }
    to {
      left: 3%;
      width: 5%;
    }
  }
}
.header-menu .wrapper .switches {
  display: flex;
  gap: 24px;
}
.header-menu .wrapper .switches .switch-language-content {
  position: relative;
}
.header-menu .wrapper .switches .switch-language-content .switch-language {
  width: 78px;
  height: 36px;
  border-radius: 25px;
  background-color: var(--background-badges);
  color: var(--font-color-primary);
  border: none;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding: 24px;
  border: 1px solid var(--border-badges);
  will-change: transform;
  transition: color 0.1s ease;
}
.header-menu .wrapper .switches .switch-language-content .switch-language:hover {
  color: var(--accent-color);
}
.header-menu .wrapper .switches .switch-language-content .switch-language:hover svg .languageIcon {
  stroke: var(--accent-color);
}
.header-menu .wrapper .switches .switch-language-content .languages {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: var(--bakcground-color);
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.075);
  padding: 8px;
  top: 60px;
}
.header-menu .wrapper .switches .switch-language-content .languages button {
  min-height: 32px;
  background-color: var(--bakcground-color-gray);
  color: var(--font-color-primary);
  border: none;
  border-radius: 8%;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  cursor: pointer;
}
.header-menu .wrapper .switches .switch-language-content .languages button:hover {
  color: var(--accent-color);
}
.header-menu .wrapper .mobile-menu-switch {
  border: none;
  background-color: transparent;
  display: none;
}
@media (max-width: 991.98px) {
  .header-menu .wrapper .mobile-menu-switch {
    display: block;
  }
}

.scrolled {
  background-color: var(--background-badges);
}

.home {
  margin-top: 164px;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 95vh;
  background-image: url("../imgs/glassmorphism-items.svg");
  background-repeat: no-repeat;
  background-position: 0 20%;
  background-size: contain 80%;
}
.home .container {
  display: flex;
  flex-direction: row;
  background-color: var(--background-blurred-transparent);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  height: 100%;
}
.home .container .introduction {
  margin-top: 8%;
  margin-left: 0;
  justify-content: center;
  width: 100%;
}
.home .container .home-illustration {
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
}
.home .container .home-illustration .background-home-illustration {
  position: relative;
  top: 0;
  left: 0;
}
.home .container .home-illustration .front-home-illustration {
  position: absolute;
  top: 30px;
  left: 20%;
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
.home .container .title {
  font-size: 48px;
  color: var(--font-color-primary);
  font-weight: 600;
  margin-bottom: 12px;
}
@media (max-width: 1199.98px) {
  .home .container .title {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .home .container .title {
    font-size: 36px;
  }
}
.home .container .description {
  font-size: 24px;
  color: var(--font-color-secondary-light);
  font-weight: 400;
  width: 25vw;
}
@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.home .container .description:after {
  content: "|";
  margin-left: 8px;
  opacity: 1;
  animation: blink 1s infinite;
  color: var(--accent-color);
}
@media (max-width: 1199.98px) {
  .home .container .description {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .home .container .description {
    width: 85vw;
  }
}
.home .container .contact-button {
  width: 12em;
  height: 70px;
  border-radius: 50px;
  background: var(--accent-color);
  color: var(--font-color-light);
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-top: 64px;
}
.home .container .contact-button:hover {
  background-color: var(--font-color-light);
  color: var(--accent-color);
}
@media (max-width: 767.98px) {
  .home .container {
    flex-direction: column;
  }
  .home .container .home-illustration {
    width: 100%;
  }
  .home .container .background-home-illustration {
    margin-top: 64px;
    width: 100%;
  }
  .home .container .front-home-illustration {
    margin-top: 64px;
  }
}
@media (max-width: 767.98px) {
  .home {
    margin-top: 128px;
    background-position: 0 0;
    background-size: contain 10%;
    height: auto;
  }
}

.about {
  width: 94%;
  margin-left: 3%;
  height: 50%;
  display: flex;
  justify-content: center;
  background-image: url("../imgs/mesh-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}
.about .container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 92px;
}
.about .container .about-description {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.about .container .title {
  font-size: 48px;
  color: var(--font-color-primary);
  font-weight: 600;
  margin-bottom: 12px;
  width: 50vw;
}
@media (max-width: 1199.98px) {
  .about .container .title {
    font-size: 40px;
    width: 40vw;
  }
}
@media (max-width: 767.98px) {
  .about .container .title {
    font-size: 36px;
    width: 100%;
  }
}
.about .container .description {
  font-size: 24px;
  color: var(--font-color-secondary);
  font-weight: 400;
  width: 40vw;
}
@media (max-width: 1199.98px) {
  .about .container .description {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .about .container .description {
    width: 80vw;
  }
}
.about .container .badges {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.about .container .badges span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  background-color: var(--background-badges);
  border-radius: 25px;
  padding: 1.5em 1.5em;
  border: 1px solid var(--border-badges);
}
.about .container .badges span:hover {
  background-color: var(--accent-color);
}
.about .container .badges span:hover svg.social-network-badge path {
  fill: var(--font-color-light);
}
@media (max-width: 1199.98px) {
  .about .container {
    margin: 24px;
  }
}
@media (max-width: 767.98px) {
  .about .container {
    margin: 64px;
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .about {
    height: 120vh;
    margin-top: 64px;
    background-image: url("../imgs/mesh-1-rotated.svg");
    background-size: 90%;
  }
}

.projects {
  width: 94%;
  margin: 3%;
  height: 95vh;
}
.projects .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects .container .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.projects .container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
  height: 270px;
  max-width: 620px;
  background-color: var(--background-badges);
}
@media (max-width: 767.98px) {
  .projects .container .cards .card {
    flex-direction: column;
    height: auto;
  }
}
.projects .container .cards .card .card-content {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  max-width: 60%;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .projects .container .cards .card .card-content {
    max-width: 100%;
    order: 2;
  }
}
.projects .container .cards .card .card-content a.project-title {
  font-size: 24px;
  color: var(--font-color-primary);
}
.projects .container .cards .card .card-content .project-description {
  font-size: 16px;
  color: var(--font-color-secondary);
}
.projects .container .cards .card img {
  width: auto;
  height: auto;
  border-radius: 50px;
  max-width: 100%;
}
.projects .container .background-projects {
  width: 100%;
  height: 20%;
  background-image: url("../imgs/mesh-2.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 100%;
}

/*@import './footer';*/
